DEBUG=True
DJANGO_ENVIRONMENT=development
SECRET_KEY=django-insecure-change-this-in-production
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
STATIC_URL=/static/
MEDIA_URL=/media/